body {
    max-width: 1280px;
    margin: auto;
    color: #69838a;
}

h1 {
    display: contents;
    padding-left: 20px;
    color: #69838a;
    font-size: 40px;
}

.header_title {
    padding: 12px 0 0 4%;
    display: inline-block;
    font-size: 40px;
    width: 40%;
}

.main_city {
    display: block;
    font-size: 40px;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

.header_button {
    display: inline-block;
    height: 47px;
    width: 20%;
}

#btn_refresh {
    vertical-align: text-bottom;
    width: 20%;
    background-color: #c9d2d7;
    color: #69838a;
    display: inline-block;
    border-radius: 6px;
    border: 0;
    height: 40px;
}

#btn_refresh:before {
    content: 'Обновить геолокацию';
}

.main_section {
    margin-top: 12px;
}

.main_section section {
    display: inline-block;
    width: 41%;
    padding: 0 4% 0 4%;
    vertical-align: top;
    height: 180px;
}
.section_item {
    width: 100%;
    background-color: #a7afb1;
    border: 1px solid #c8c8c8;
    margin-top: 6px;
    height: 28px;
    color: #eff9fc;
    display: table;
}

.section_item .atr {
    font-weight: bold;
    line-height: 28px;
    padding-left: 8px;
    float: left;
    vertical-align: middle;
    display: table-cell;
}

.section_item .value {
    line-height: 28px;
    padding-right: 8px;
    float: right;
    vertical-align: middle;
    display: table-cell;
    color: #d6dde1;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
}

img {
    display: inline-block;
    object-fit: contain;
    width: 120px;
    margin-top: 15px;
}

.temp {
    display: inline-block;
    width: calc(92% - 120px);
    line-height: 145px;
    vertical-align: top;
    text-align: right;
    font-size: 80px;
    color: #7e7e7e;
    font-family: sans-serif;
}

.favorites {
    margin-top: 24px;
    display: inline-block;
    font-size: 26px;
    width: 100%;
}

.favorites h2 {
    padding-left: 4%;
    display: inline-block;
    margin: 0;
    float: left;
    clear: right;
}

.favorites div {
    display: inline-block;
    float: right;
    margin-right: 6%;
}

.favorites input, .favorites button {
    display: inline-block;
}

.favorites button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background: #6f8288;
    color: #eff9f7;
    font-size: 20px;
}


.favorites input {
    background: #f1f1f1;
    border: 0;
    height: 36px;
    margin-right: 8px;
    padding-left: 12px;
    color: #838c8e;
}

.favorites_section {
    margin-top: 24px;
}

.favorites_section section {
    display: inline-block;
    width: 41%;
    padding: 0 4% 0 4%;
    vertical-align: top;
}

.fav_city {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    vertical-align: middle;
    float: left;
}

.fav_temp {
    font-weight: 400;
    font-size: 38px;
    color: #7e7e7e;
    font-family: sans-serif;
    vertical-align: middle;
    margin-left: 24px;
    margin-bottom: 8px;
    float: left;
}

.fav_btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background: #6f8288;
    color: #eff9f7;
    font-size: 20px;
    float: right;
}

.fav_img {
    float: left;
    width: 40px;
    margin: 0 0 0 12px;
}

@media (max-width: 800px) {
    .favorites_section section {
        display: block;
        width: auto;
        margin-top: 24px;
    }

    .favorites div {
        float: left;
        margin-left: 4%;
        margin-top: 24px;
        width: 100%;
    }

    .favorites h2 {
        display: block;
        float: inherit;
    }

    .favorites input {
        width: calc(86% - 40px);
    }

    .main_section section {
        display: block;
        width: auto;
    }

    .header_title {
        width: auto;
    }

    #btn_refresh {
        font-size: 20px;
        width: 40px;
        float: right;
        margin: 24px 20px 0 0;
    }

    #btn_refresh:before {
        content: '⟳';
    }

    .main_section {
        white-space: nowrap;
    }
}